body {
  background: blue;
  padding: 80px;
  width: 600px;
}

header {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  background-image: url(../images/logo.png);
  background-size: contain;
  height: 35px;
  margin-left: : auto;
  margin-right: auto;
  background-repeat: no-repeat;
  padding-bottom: 25px;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.form {
  background-color: white;
  width: 360px
  /*padding: 40px;*/
}

.form h1 {
  text-align: center;
}

.form input, .form select .form button {
  width: 288px;
  margin-bottom: 15px;
  background-color: white;
  padding: 15px;
  border: 2px solid black;
}

.button {
  background-color: #4CAF50;
  height: 35px;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 288px;
}

.password {
  text-align: center;

}


}
