
body {
  background: blue;
  padding-top: 60px;
}

header {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  background-image: url(../images/logo.png);
  background-position: center;
  background-size: contain;
  height: 35px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*padding: 10px;*/
}

.form {
  background-color: white;
  width: 360px
  /*padding: 40px;*/
  /*margin-top:25px;*/
}

.form h1 {
  text-align: center;
}

.form input, .form select .form label .form button {
  width: 288px;
  margin-bottom: 15px;
  padding-top: 15px;
  background-color: white;
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
}

.button {
  background-color: #4CAF50;
  height: 45px;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  width: 320px;
}
.text-centering {
margin-top: 15px;
text-align: center;
display: block;
}
